.image-icon-menu{
    height: 4rem;
    width: 4rem;
}

.profile{
    text-align: center;
    margin-top: 1rem;
}

.profile div{
    margin-top: 1rem;
    font-size: 1rem;
    color: #495057;
}

::ng-deep{
    .p-menu{
        border: 0!important;
    }
}