<!-- <p-confirmDialog
    #cd *ngIf="confirmDialog"
    [header]="header"
    [message]="message"
    [style]="{width: '450px'}">
    <ng-template pTemplate="footer">
      <div class="buttons-align-right">
        <button id="button-cancel-outlined" class="p-button-outlined" pButton icon="pi pi-times" [label]="translateService.translate('confirmDialog.negativeButton')" (click)="cd.reject()"></button>
        <button id="button-save-outlined" class="p-button-outlined" type="button" pButton icon="pi pi-check" [label]="translateService.translate('confirmDialog.positiveButton')" (click)="cd.accept()"></button>
      </div>
    </ng-template>
</p-confirmDialog> -->
<div>
  oi
</div>
