@import "/src/app/app.component.scss";

:host ::ng-deep {

  //Scroll in Table
  .table-scroll::ng-deep{
    ::-webkit-scrollbar {
        margin-top: 20px;
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #d3d3d3;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #d3d3d3;
    }
}

  //PrimeNg Table Header Css
  .p-datatable {
    .p-datatable-thead tr th {
      box-sizing: border-box;
      height: 38px !important;
      padding: 0;
      background-color: #A50034;
      color: #FFFFFF;
    }

    .p-sortable-column:not(.p-highlight):hover {
      background: #A50034;
      color: #FFFFFF;
    }

    .p-sortable-column .p-sortable-column-icon {
      color: #FFFFFF;
      margin-left: 0.5rem;
    }

    .p-sortable-column:not(.p-highlight):hover .p-sortable-column-icon {
      color: #FFFFFF;
    }

    .p-sortable-column.p-highlight {
      background: #A50034;
      color: #FFFFFF;
    }

    .p-sortable-column.p-highlight .p-sortable-column-icon {
      color: #FFFFFF;
    }

    #selected-column:focus{
      box-shadow: none;
    }

    //PrimeNg Body Css
    .p-datatable-tbody tr td {
      box-sizing: border-box;
      height: 35px !important;
      padding: 0;
    }

    .current-date{
      .p-sortable-column-icon {
         background-color: #FFD4E2 !important;
         color: #A50034 !important;
      }
    }
  }

  //Table border header
  p-table thead.p-datatable-thead th:first-child{
    border-radius: 10px 0 0 0;
  }

  p-table thead.p-datatable-thead th:last-child{
    border-radius: 0 10px 0 0;
  }

  .p-datatable .p-datatable-tbody tr td.align-center {
    text-align: center;
  }

  .p-datatable .p-datatable-thead tr th.align-center{
    text-align: center;
  }
}

@media (min-width:1441px) {
  .column-table-padding-left{
    font-size: 16px!important;
  }
}

@media (max-width:1440px) {
  .column-table-padding-left{
    font-size: 14px!important;
  }
}

@media (max-width:1280px) {
  .column-table-padding-left{
    font-size: 12px!important;

    ::ng-deep .pi{
      font-variant: all-small-caps!important;
      vertical-align: initial!important;
    }
  }
}

@media (min-width:961px) {
  .small-column{
    max-width: 3vw;
  }
}

.table-head{
  margin-bottom: 20px;
}

.title-table{
  color: #A50034;
  font-size: 32px;
  margin: 0px 0px 10px 0px;
}

.title-functions{
  display: flex;
}

.search-input{
  flex-grow: 1;
  justify-content: flex-start;
}

.add-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 33px;
  border: 1px solid #F38A00;
  background-color:#F38A00;
  border-radius: 20px;
}

.add-button img{
  width: 24px;
  height: 24px;
  margin-left: 5px;
}

.add-button:hover{
  border: 1px solid #F38A00;
  background-color: #F38A00;
}

.pencil-button, .pencil-button:hover{
  background-color: #F38A00;
  border: 1px solid #F38A00;
}

.trash-button, .trash-button:hover{
  background-color: #A50034;
  border: 1px solid #A50034;
}

.column-table-padding-left{
  padding-left: 0.8vw!important;
}

.column-table-padding-right {
  padding-right: 0.8vw !important;
}

.button-icon-size{
  width: 27px!important;
  height: 27px!important;
}

.current-date {
  background-color: #FFD4E2 !important;
  color: #A50034 !important;
}
