<div class="center">
    <div class="container">
        <div class="box"></div>
        <div class="container-forms">
          <div class="container-info">
            <div class="info-item">
              <div class="table">
                <div class="table-cell">
                  <p>
                    Have an account?
                  </p>
                  <div class="btn">
                    Log in
                  </div>
                </div>
              </div>
            </div>
            <div class="info-item">
              <div class="table">
                <div class="table-cell">
                  <p>
                    Don't have an account? 
                  </p>
                  <div class="btn">
                    Sign up
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-form">
            <div class="form-item log-in">
              <div class="table">
                <div class="table-cell">
                  <input [(ngModel)]="username" name="Username" placeholder="Username" type="text" />
                  <input [(ngModel)]="password" name="Password" placeholder="Password" type="Password" />
                  <div class="btn" (click)="doLogin()">
                    Log in
                  </div>
                </div>
              </div>
            </div>
            <div class="form-item sign-up">
              <div class="table">
                <div class="table-cell">
                  <input name="email" placeholder="Email" type="text" />
                  <input [(ngModel)]="user.name" placeholder="First and Last Name" type="text" />
                  <input [(ngModel)]="user.username" name="Username" placeholder="Username" type="text" />
                  <input [(ngModel)]="user.password" name="Password" placeholder="Password" type="Password" />
                  <div class="btn" (click)="doRegister()">
                    Sign up
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
<app-toast></app-toast>