<div class="content">
    <div class="menu">
        <app-menu></app-menu>
    </div>
    <div class="gallery-price">
        <div id="gallery">
            <p-carousel [value]="images"  [numVisible]="3" [numScroll]="3" [autoplayInterval]="3000" [circular]="true">
                <ng-template let-item pTemplate="item" class="large-image-content">
                    <img [src]="item.base64" class="large-image">
                </ng-template>
            </p-carousel>
        </div>
        <p-breadcrumb [model]="items"></p-breadcrumb>
        <div class="description-price">
            <div class="description-card">
                <div class="title">
                    {{immobile.title}}
                </div>
                <div class="address">
                    {{immobile.street}}, {{immobile.neighborhood}}, {{immobile.city}}
                </div>
                <div class="description-title">
                    <i class="pi pi-bars"></i>
                    Descrição do Proprietário    
                </div>
                <p class="description">
                    {{immobile.description}}
                </p>
                <hr>
                <div class="icons">
                    <div class="info">
                        <svg class="icon-card green" focusable="false" viewBox="0 0 24 24" color="rgb(var(--tokens-alias-color-icon-positive))" aria-hidden="true" fill="none" style="font-size: 24px;"><path fill="currentColor" fill-rule="evenodd" d="M1.5 8v8.25h21V8h-21zM3 14.75V9.5h3.75v3h1.5v-3h3v3h1.5v-3h3v3h1.5v-3H21v5.25H3z" clip-rule="evenodd"></path></svg>
                        <label>{{immobile.square_meters}}m²</label>
                    </div>
                    <div class="info">
                        <svg class="icon-card green" focusable="false" viewBox="0 0 24 24" color="rgb(var(--tokens-alias-color-icon-positive))" aria-hidden="true" fill="none" style="font-size: 24px;"><path fill="currentColor" fill-rule="evenodd" d="M1.5 5H3v9h8.25V7.25H22.5V20H21v-4.5H3v4.125H1.5V5zM21 14h-8.25V8.75H21V14z" clip-rule="evenodd"></path><path fill="currentColor" fill-rule="evenodd" d="M7.125 7.25a2.625 2.625 0 100 5.25 2.625 2.625 0 000-5.25zM6 9.875a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd"></path></svg>
                        <label>{{getNumberOfRoom()}}</label>
                    </div>
                    <div class="info">
                        <svg class="icon-card" focusable="false" viewBox="0 0 24 24" color="rgb(var(--tokens-alias-color-icon-positive))" aria-hidden="true" fill="none" style="font-size: 24px;"><path fill="currentColor" d="M4.5 3.5h12V8h3v1.5H12V8h3V5H6v16.5H4.5v-18z"></path><path fill="currentColor" d="M12 11v3.703h1.5V11H12zm6 3.703V11h1.5v3.703H18zM15 11v5.555h1.5V11H15z"></path></svg>
                        <label>-</label>
                    </div>
                    <div class="info">
                        <svg class="icon-card" focusable="false" viewBox="0 0 24 24" color="rgb(var(--tokens-alias-color-icon-disabled))" aria-hidden="true" fill="none" style="font-size: 24px;"><path fill="currentColor" fill-rule="evenodd" d="M3 18.5V11H1.5V9.5h1.598l2.93-6h12.075l2.8 6H22.5V11h-1.503l-.016 7.5H19.5v3H18v-3H6v3H4.5v-3H3zm16.248-9l-2.1-4.5H6.964L4.767 9.5h14.48zM4.5 11h14.997l-.005 2.25H15.75v1.5h3.74L19.483 17H4.5v-2.25h3.75v-1.5H4.5V11z" clip-rule="evenodd"></path></svg>
                        <label>-</label>
                    </div>
                    <div class="info">
                        <svg class="icon-card" focusable="false" viewBox="0 0 24 24" color="rgb(var(--tokens-alias-color-icon-disabled))" aria-hidden="true" fill="none" style="font-size: 24px;"><path fill="currentColor" fill-rule="evenodd" d="M3 8.75V3.5h18v5.25h.162c.82 0 1.338.72 1.338 1.412v5.426c0 .692-.519 1.412-1.338 1.412H21v3h-1.5v-3h-15v3H3v-3h-.162C2.02 17 1.5 16.28 1.5 15.588v-5.426c0-.693.52-1.412 1.338-1.412H3zm16.5 6.75H21v-5.25h-1.5v5.25zM18 11.75v3.75H6v-3.75h12zm-13.5-1.5v5.25H3v-5.25h1.5zm1.5 0h12v-.088c0-.693.52-1.412 1.338-1.412h.162V5h-15v3.75h.162c.82 0 1.338.72 1.338 1.412v.088z" clip-rule="evenodd"></path></svg>
                        <label>-</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-toast></p-toast>
</div>
<div class="teste">
    <div class="schedule-visit">
        <div class="seller-info">
            <img class="icon-profile" src="../../../assets/images/user_icon.png"><br>
            <div class="seller">Gabriel Batista</div>
            <div class="phone">
                <i class="pi pi-phone" style="font-size: 0.7rem;"></i>  
                (92) 991358470
            </div>
            <div class="partition"></div>
        </div>
        <hr>
        <div class="immobile-info">
            <div class="total-price">
                <label>Total</label>
                <div class="total">R$ {{immobile.price}}</div>
            </div>
            <button class="btn-schedule-visit">Agendar visita</button>
        </div>
    </div>
</div>